## Working with Numbers

Assign the percent of each ore that contains the mineral to each variable below:

In [1]:
# Note: You do not need to include the % sign. 

chromium = 25
vanadium = 2
platinum = 0.0008

Now print out each of these variables:

In [2]:
print(chromium)
print(vanadium)
print(platinum)

25
2
0.0008

Next, assign the percent of vanadium ore that **does not** contain the mineral to a new variable and then print it out:

In [3]:
# Hint: You will need to use subtraction

whole = 100

print(whole - vanadium)

98

Now convert the value you calculated above into a decimal and print the result:

In [4]:
# Hint: You will need to use division

WithoutVanadium = 98

print(WithoutVanadium*.01)

0.98

Can you identify which of the values you worked with above are integers and which are floats?

## Working with Strings

Assign the name of each type of lava to a variable below:

In [5]:
# Hint: Remember that strings need to be in quotes!

t1 = "Pahoehoe"
t2 = "AA"

Now print out each of these variables:

In [6]:
print(t1)
print(t2)

Pahoehoe
AA

You can add strings together to make one long print statement, even if some of those strings are stored in variables. 

Assign your name as a string to the name variable below and then run the cell below to see how it works:

In [7]:
name = "Kai"
print("Hello " + name + ". You are cool!")

Hello Kai. You are cool!

Now try printing out a sentence that tells the reader what the two types of lava are:

In [8]:
print("The two types of lava are " + t1 + " and " + t2)

The two types of lava are Pahoehoe and AA

## Mix 'n Match Data Types

Create a variable for each piece of data related to the deformed rocks from Wingdale, NY and decide whether the value should be a string, a float, or an integer:
- Where the rock was found
- Type of rock
- Rock age
- Temperature at which the rock formed
- Depth at which the rock formed

In [9]:
rock_location = "Wingdale, NY" #String
rock_type = "Schist" #String
rock_age_mya = 440 #Integer
rock_temp_C = 550 #Integer
rock_depth_km = 8 #Integer

Print out a sentence that explains where the rocks were found and what kind of rock they are:

In [10]:
print("The rocks are Shale and they were found in Wingdale, NY")

The rocks are Shale and they were found in Wingdale, NY

Print out the difference between the deformed rock's temperature at formation and the boiling point of water (100 degrees Celsius):

In [11]:
print("The deform's rock temperature was 550ºC while the boiling point of water is 100ºC, so they have a difference of 450ºC")

The deform's rock temperature was 550ºC while the boiling point of water is 100ºC, so they have a difference of 450ºC

Create two new variables that contain the age and length of the San Andreas Fault:

In [12]:
fault_age_mya = 30
fault_length_km = 1200

Print out the difference in age between the deformed rocks and the San Andreas Fault:

In [13]:
print(rock_age_mya - fault_age_mya)

410

How much longer is the San Andreas Fault than the depth of the deformed rock's formation? Print out the difference:

In [14]:
print(fault_length_km - rock_depth_km)

1192

## Bonus Challenge 1
If you finish everything above, try this bonus challenge

Create three new variables with information from your data collection sheet and experiment with adding, subtracting, and printing these variables:

In [15]:
# Hint: Think about which data types can be added together

move_cm = 5 #How many cm the fault moves per year
length_km = 300 #How long the fault is

length_cm = length_km * 100 * 100

years = str(length_cm / move_cm) #How long it would take to move 300 km

print("The San Andreas Fault would take " + years + " years in order to move 300 km")

The San Andreas Fault would take 600000.0 years in order to move 300 km

## Bonus Challenge 2
If you finish everything above, try this bonus challenge

Run the code below to learn about the type() function:

In [16]:
var1 = 5
var2 = "Hello"
var3 = 3.2

#The type() function tells you the data type of a value
print(type(var1))
print(type(var2))
print(type(var3))

<class 'int'>
<class 'str'>
<class 'float'>

Now try it yourself! print out the type of some variables you've created above:

In [17]:
rock_type = "Shale"
rock_age = 440000000
rock_temp_cel = 550.00 

print(type(rock_type))
print(type(rock_age))
print(type(rock_temp_cel))

<class 'str'>
<class 'int'>
<class 'float'>

You can also change the type of some values stored in variables using the following functions:
- str() turns a value into a string
- int() turns a value into an integer
- float() turns a value into a float

Run the code below to learn more:

In [18]:
varA = "1"
varB = 1.0
varC = 1

print(int(varA))
print(str(varB))
print(float(varC))

1
1.0
1.0

Not all values can be turned into all types. Try running the code below:

In [19]:
print(int("Hello world!"))

ValueError: invalid literal for int() with base 10: 'Hello world!'

Now try it yourself! Create your own variables and try changing their types:

In [20]:
var1 = "5"
var2 = 5
var3 = 5.0

print(int(var1))
print(float(var2))
print(str(var3))

5
5.0
5.0