# Clinometer activity Pt 2

In this notebook you'll create a pandas dataframe with data from the entire class. You will practice using pandas functions and learn how to convert a CSV file to a pandas dataframe.

Start by importing pandas and numpy

In [1]:
import pandas as pd
import numpy as np

Next, let's open our data file and convert it to a pandas dataframe. 

This time our dataset is in a CSV file so we can use the pd.read_csv() function:

In [2]:
df = pd.read_csv("Class_clinometer_data.csv")

Let's take a look at the data! Use the .head() function to look at the first 5 rows of data.

In [3]:
df.head()

   Student height (m)  Building distance (m)  Clinometer angle (deg)
0              1.7200              52.500000                    29.0
1              1.7300              45.000000                    34.0
2              1.6256              45.034176                    31.5
3              1.6800              52.500000                    26.0
4              1.6002              52.500000                    33.0

Now use the .dtypes command to check the data type of the columns (note this is not a function so you don't need parentheses)

In [4]:
df.dtypes

Student height (m)        float64
Building distance (m)     float64
Clinometer angle (deg)    float64
dtype: object

The first column contains the height of everyone in the class.

Isolate this column using an index and assign it to a variable. Hint: You'll need to include the column name in the index.

In [5]:
# Create your variable and assign the "student height" column here

sh = df["Student height (m)"]

Now, print out the average height using the .mean() method.

In [17]:
sh = sh.mean() # Rewriting sh in order for it to be the average student height

print(sh)

1.617733333333333

## Adding columns
To make our data useful, we need to add some more columns. Let's create a column for theta first.

Recall that theta = np.deg2rad(degrees).

In [18]:
# Create a new column called "theta" 
# Hint: You will need to use a dataframe index as the argument for the np.deg2rad() function.

deg = df["Clinometer angle (deg)"] # Degrees

df["Theta"] = np.deg2rad(deg) 

theta = df["Theta"]

In [19]:
df.head() # Check to make sure that your new column is correct

,Student height (m),Building distance (m),Clinometer angle (deg),Theta,Building Height (m)
0,1.7200,52.500000,29.0,0.506145,30.821225
1,1.7300,45.000000,34.0,0.593412,32.082883
2,1.6256,45.034176,31.5,0.549779,29.222578
3,1.6800,52.500000,26.0,0.453786,27.285961
4,1.6002,52.500000,33.0,0.575959,35.694099

Next, let's add a "building height" column. 

Remember that opposite = adjacent * np.tan(theta) and that the building height is opposite + student height.

In [20]:
# Create a new column called "building height"
# Choose your dataframe indexes carefully!

bd = df["Building distance (m)"] #Building distance

opposite = bd * np.tan(theta)

df["Building Height (m)"] = sh + opposite # Make sure you account for the students' heights average

bh = df["Building Height (m)"] #Building height

In [21]:
df.head() # Check to make sure that your new column is correct

,Student height (m),Building distance (m),Clinometer angle (deg),Theta,Building Height (m)
0,1.7200,52.500000,29.0,0.506145,30.718959
1,1.7300,45.000000,34.0,0.593412,31.970617
2,1.6256,45.034176,31.5,0.549779,29.214712
3,1.6800,52.500000,26.0,0.453786,27.223694
4,1.6002,52.500000,33.0,0.575959,35.711632

Now, let's find the average building height for the entire class

In [22]:
# Hint: Use the .mean() method

bhavg = bh.mean() # Building height average

print(bhavg)

32.43543247045108

In [23]:
print("The average building height for the Hayden Planetarium is " +  str(bhavg) + " meters.")

The average building height for the Hayden Planetarium is 32.43543247045108 meters.